:background {
  --main-color:rgb(17, 156, 215);;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: rgb(151, 196, 214);
}


.Selfie{
  width: 300px; 
    height: 300px; 
    object-fit: cover;
    border: 1px solid black;
}